/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #121212!important; }
.mat-icon{
    font-family: 'Material Icons' !important;
}
.mat-form-field.mat-form-field-invalid {
    .mat-form-field-label {
      color: red!important;
      opacity:.6!important;

      &.mat-accent,
      .mat-form-field-required-marker {
        color: red!important;
        opacity:.6!important;
      }
    }

    .mat-form-field-ripple,
    .mat-form-field-ripple.mat-accent {
      background-color: red!important;
      opacity:.6!important;
    }
  }

  .mat-tab-labels {
    justify-content: center;
}