<section class="husq-bar-container ">
    <div class="husq-bar col-xl-4 col-lg-5 col-md-7 col-sm-8">
        <h1 class="recent-husqs">Recent Husqs</h1>
        <button mat-raised-button class="new-husq" (click)="newHusq()">NEW</button>
    </div>
</section>
<section class="timeline-container col-xl-4 col-lg-5 col-md-7 col-sm-8">
  <!-- Timeline -->
  <div class="row">
    <div class="col-sm col-lg-12">
      <div>
        <app-husq-card *ngFor="let post of firestoreService.observableDatabase.ParentPosts$ | async" [post]="post">
        </app-husq-card>
      </div>   
    </div>
  </div> 
  <!-- End timeline -->
</section>
