@import 'src/app/styles/theme.scss';
.husq-bar-container {
    margin: auto;
}

.husq-bar {
    position: fixed;
    z-index: 1;
    background: #121212;
    width: 35%;
    /* margin-top: 64px; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    top: 64px;
    padding: 0px 30px;
    border: 1px solid #CFD8DC;
    color: #fff;
}

.timeline-container {
    width: 35%;
    margin: auto;
    margin-top: 154px;
    z-index: 0;
    height: 80vh;
    overflow: scroll;
    background-color: $primary;
    padding: 30px;
    border-radius: 8px;
}
 .new-husq {
     background-color: $warn;
 }