@import 'src/app/styles/theme.scss';
button {
    margin: 0px 5px;
}
.husq-card {
    margin-bottom: 2em;
    background-color: #121212;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

i{
    color: $warn;
}

i:hover{
    color: $accent;
}

.husq-button{
    margin-left: .5em;
    margin-right: .5em;
    cursor: pointer;
}

.count{
    margin-left: .25em;
    margin-right: 1.5em;
}



.subtitle {
    color: #fff;
}

.mat-expansion-panel{
    background: $primary;
    color:white;
}

.mat-content > * {
    color:white;
}

.mat-expansion-panel-header-title {
    color:white;
}

.mat-icon {
    color: #fff !important;
}

// .custom-header .mat-expansion-panel-header-title, 
// .custom-header .mat-expansion-panel-header-description {
//   flex-basis: 0;
// }

// .custom-header .mat-expansion-panel-header-description {
//   justify-content: space-between;
//   align-items: center;
// }

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

// .mat-expansion-panel-header-title {
//     display: inline-block;
// }

.mat-expansion-panel-header-description > * {
    float: right;   
}

.mat-expansion-panel-header-description {
    display: block;   
}

.card-username {
    color: #808080;
    font-size: 16px;
    margin-left: 0.75em;
    vertical-align: middle;
}
.mat-card-title {
    display: flex;
    align-items: center;
}
.post-time {
    color: #808080;
}