<mat-card color="accent" class="husq-card">
  <mat-card-header style="margin-top:.5em;">
    <img mat-card-avatar src="{{user?.photoURL}}" alt="{{user.displayName}}">
    <!-- <img mat-card-avatar src="{{(user.photoURL) ? user.photoURL : '../../../../assets/images/default-img.png'}}" alt="{{user.displayName}}"> -->
    <!-- <mat-card-title><a [routerLink]="['/profile', post.uid]">{{ post.uid }}</a></mat-card-title> -->
    <mat-card-title><a [routerLink]="['/profile', post.uid]">{{(user?.displayName) ? user.displayName : user.username}}</a></mat-card-title>
    <mat-card-subtitle><a [routerLink]="['/profile', post.uid]">@{{(user?.username) ? user.username : 'User'}}</a></mat-card-subtitle>
    <mat-card-subtitle class="subtitle">{{ post?.datetime }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ post?.post }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <span class="husq-button"><i class="fa fa-thumbs-o-up fa-lg" (click)="likeButtonClicked()" [ngClass]="liked ? 'fa-thumbs-up' : 'fa-thumbs-o-up'" aria-hidden="true"></i></span>
    <span class="count">{{post.likes}}</span>
    <span *ngIf="!post.parentHusq;" class="husq-button"><i class="fa fa-comment-o fa-lg" (click)="replyButtonClicked(post.id, post)" aria-hidden="true"></i></span>
    <!-- <span *ngIf="!post.parentHusq;" class="count">{{post.replies.length}}</span> -->
  </mat-card-actions>


  <!-- REPLIES -->
  <!-- <mat-accordion *ngIf="post.replies.length > 0;">
    <mat-expansion-panel class="custom-header" hideToggle="true" #replies>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Replies
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon *ngIf="!replies.expanded">expand_more</mat-icon>
            <mat-icon *ngIf="replies.expanded">expand_less</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let reply of replie$ | async">
        <h5>{{reply.displayName}}</h5>
        <h5>{{reply.username}}</h5>
        <p>{{reply.post}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion> -->


</mat-card>