<div class="husq-bar">
    <h1 class="text-center">Recent Husqs</h1>
    <button>New Husq</button>
    <form #form="ngForm" (ngSubmit)="">
      <mat-form-field>
        <textarea matNativeControl placeholder="What's happening..."></textarea>
      </mat-form-field>
    </form>
</div>
<section class="container">
  <!-- Timeline -->
  <div class="row">
    <div class="col-sm col-lg-6 offset-lg-3 ">
      
      <div>
        <app-husq-card>

        </app-husq-card>
      </div>   
    </div>
  </div> 
  <!-- End timeline -->
</section>
