.husq-bar-container {
    margin: auto;
}

.husq-bar {
    position: fixed;
    z-index: 1;
    background: lightgray;
    width: 37%;
    margin-top: 64px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    width: 35%;
    margin: auto;
    padding-top: 100px;
    z-index: 0;
}