<section class="container">
    <!-- Timeline -->
    <div class="row">
      <div class="col-sm col-lg-6 offset-lg-3 ">
        <h1 class="text-center">Recent Husqs</h1>
        <app-husq-card name="Rex Burkhead" datetime="TODAY" content="Wow, this site is pretty much the best thing I've ever seen!"></app-husq-card>
        <app-husq-card name="Matt Payne" datetime="TODAY" content="Hey now, this is actually pretty neat. I wonder how far we can take this."></app-husq-card>
        <app-husq-card name="Russ Beye" datetime="TODAY" content="I need to share this site with all of my friends. Wait till Matt sees this!"></app-husq-card>
      </div>
    </div> 
    <!-- End timeline -->
  </section>
