@import 'src/app/styles/theme.scss';
.landing-ui{
    background: rgb(225,225,225);
    border: 2px solid $primary;
    height:35em;
    margin-top:calc((100vh - 35em)/2);
}

.mat-error{
    color:red;
    opacity:.6;
}

.mat-tab-label{
    max-width:50%!important;
    min-width:0!important;
}

.mat-tab-label-container{
    width:100%;
}

input{
    width:75%;
}

.mat-form-field {
    display: inline;
}

.error{
    background: rgb(255, 51, 5)
}
::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        caret-color: red !important;
        opacity:.6 !important;
    }
    // .mat-form-field-label {
    //     color: #ff33cc;
    //     .mat-form-field-required-marker {
    //         color: #ff33cc;
    //     }
    // }
    // .mat-form-field-ripple {
    //     background-color: #ff33cc;
    // }
}
