@import 'src/app/styles/theme.scss';
.landing-ui{
    background: rgb(225,225,225);
    border: 2px solid $primary;
    height:35em;
    margin-top:calc((100vh - 35em)/2);
}

.activeTab{
    border-bottom: 2px solid $primary;
}

.mat-error{
    color:red;
    opacity:.6;
}

.mat-tab-label{
    max-width:50%!important;
    min-width:0!important;
}

.mat-tab-label-container{
    width:100%;
}

// span .mat-form-field-ripple {
//     background-color:red!important;
//     color: red!important;
// }

input{
    width:75%;
}

.action-tab{
    font-size: larger;
}

.action-link{
    color: black;
    text-decoration: none;
}

.action-link:hover{
    color: $primary;
    cursor: pointer;
}

.action-link:active{
    color: $primary;
}

.oauth-option{
    color: black;
    cursor: pointer;
}
.mat-form-field {
    display: inline;
}

