@import 'src/app/styles/theme.scss';
.login-ui-2{
    background: rgb(135,135,135);
    width: 40em;
    max-height:60em;
    margin-left: calc((100vw - 40em)/2);
    margin-bottom:5em;
    margin-top:7em;
    display:block;
    position:fixed;
}

// .login-container{
//     width:25em;
//     margin-left
// }

.landing-ui{
    background: rgb(200,200,200);
    border: 2px solid $primary;
    // box-shadow: 0 0 0 1px $accent;
    // border-radius: 8px;
    height:35em;
    margin-top:calc((100vh - 35em)/2);
    // width:20vw;
    // display: grid;
}

// .landing-container{
    // position:fixed;
    // height:100vh;
    // background: #121212;
    // width:25em;
// }

.action-tab{
    font-size: larger;
    // border-color: $primary;
    // border-width: 1px;
    border-bottom: 1px solid $primary;
}

#loginTab{
    border-right: 1px solid $primary;
}

.action-link{
    color: black;
    text-decoration: none;
}

.action-link:hover{
    color: $primary;
    cursor: pointer;
}

.action-link:active{
    color: $primary;
}

.oauth-option{
    color: black;
    cursor: pointer;
}