@import 'src/app/styles/theme.scss';
.popup-container{
    z-index:999;
    background: rgb(140,140,140);
    top:35vh;
    position:absolute;
    align-items:center;
    justify-content: center;
    width:20vw;
    margin-left:40vw;
}
button {
    margin: 0px 5px;
}
.red-count {
    color:red;
    opacity:.6;
  }
  .black-count {
    color:#121212;
    opacity:.6;
  }
  
.new-husq-input {
    min-width: 250px !important;
}
