<mat-dialog-content [formGroup]="newHusqForm">
    <mat-form-field class="new-husq-input" appearance="fill"> 
        <textarea rows="8" matInput placeholder="What's happening... " formControlName="post" [(ngModel)]="post"></textarea>
        <mat-hint [ngClass]="(post.length > 255) ? 'red-count' : 'black-count'">{{ 255 - post.length }}</mat-hint>
    </mat-form-field> 
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close class="mat-primary" (click)="close()">Close</button> 
    <button class="mat-raised-button mat-primary" (click)="save()">Post</button> 
</mat-dialog-actions>
