<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Husqr | A Corny Social Media Site!</title>
  <meta name="description" content="The world's corniest social media site!">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<app-header></app-header>

<app-husqr></app-husqr>

</html>