<div *ngIf="user">
  <section class="user-profile">
    <mat-card>
        <div class="user-profile-header">
            <img mat-card-avatar src="{{user?.photoURL}}">
            <mat-card-title>@{{user?.username}}</mat-card-title>
            <div *ngIf="user?.uid === currentUser?.uid; then editButton else followButton"></div>
            <ng-template #followButton>
              <button class="follow-button profile-box-button" [ngClass]="following ? 'unfollow' : 'follow'" (click)="toggleFollow()">{{following ? 'Unfollow' : 'Follow'}}</button>
            </ng-template>
            <ng-template #editButton>
              <button class="profile-box-button" mat-icon-button matSuffix [attr.aria-label]="'Edit button'" (click)="router.navigate(['/settings'])">
                <mat-icon color="warn">edit</mat-icon>
              </button>
            </ng-template>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content class="bio">
          <p><strong>Bio:</strong></p>
          <p>
            {{user?.bio}}
          </p>
        </mat-card-content>
    </mat-card>
  </section>
  <section class="husq-bar-container">
      <div class="husq-bar">
          <h1 class="recent-husqs"><img mat-card-avatar class="profile-img" src="{{user?.photoURL}}" alt="{{user?.displayName}}">{{ user?.displayName }}'s Page</h1>
          <button mat-raised-button class="new-husq">NEW</button>
      </div>
  </section>
  <section class="timeline-container">
    <!-- Timeline -->
    <div class="row">
      <div class="col-sm col-lg-12">
        <div>
          <app-husq-card *ngFor="let post of userPost$ | async" [post]="post">
          </app-husq-card>
        </div>   
      </div>
    </div> 
    <!-- End timeline -->
  </section>
</div>
