@import 'src/app/styles/theme.scss';
.center-container{
    background: $primary;
    border: 2px solid $primary;
    height:30em;
    margin-top:calc((100vh - 30em)/2);
}

.activeTab{
    border-bottom: 2px solid $primary;
}

.mat-form-field{
    color: #fff;
    display:inline;
    background: #121212;
}

img {
    max-height: 40px;
    vertical-align: middle;
}
.user-stuff {
    display: flex; 
    align-items: center;
}
.user-items {
    margin-right: 15px;
    margin-bottom: 15px;
}
h1 {
    color: #fff;
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: #121212;
    }
    .mat-form-field-label {
        color: #BEBEBE;
    }
    .mat-form-field-underline {
        background-color: #fff;
    }
    .mat-form-field-ripple {
        background-color: #121212;
    }
    .mat-form-field-required-marker {
        color: #121212;
    }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #ff884d;
    }
    .mat-form-field-ripple {
        background-color: #ff884d;
    }
    .mat-form-field-required-marker {
        color: #ff884d;
    }
    .mat-input-element {
        color: #ff884d;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: #ff33cc;
    }
    .mat-form-field-label {
        color: #ff33cc;
        .mat-form-field-required-marker {
            color: #ff33cc;
        }
    }
    .mat-form-field-ripple {
        background-color: #ff33cc;
    }
}
