@import 'src/app/styles/theme.scss';
.center-container{
    background: rgb(225,225,225);
    border: 2px solid $primary;
    height:30em;
    margin-top:calc((100vh - 30em)/2);
}

.activeTab{
    border-bottom: 2px solid $primary;
}

.mat-form-field{
    
    display:inline;
}

img {
    max-height: 40px;
    vertical-align: middle;
}
.user-info {
    display: flex;
    align-content: center;
}