@import 'src/app/styles/theme.scss';
.center-container{
    background: $primary;
    border: 2px solid $primary;
    border-radius: 10px;
    padding: 20px;
    display: fixed;
    top: 10em;
}

.activeTab{
    border-bottom: 2px solid $primary;
}

.mat-form-field{
    display:inline;
}

img {
    max-height: 40px;
    vertical-align: middle;
}
.user-stuff {
    display: flex; 
    align-items: center;
}
.user-items {
    margin-right: 15px;
    margin-bottom: 15px;
}
h1 {
    color: #fff;
}

.fields ::ng-deep .mat-form-field {
    .mat-input-element {
        color: #fff;
        caret-color: #fff;
    
    }
    .mat-form-field-label {
        color: #BEBEBE;
    }
    .mat-form-field-underline::before {
        background-color: #fff !important;
    }
    .mat-form-field-underline {
        background-color: #BEBEBE !important;
    }
    .mat-form-field-ripple {
        background-color: #fff;
    }
    .mat-form-field-required-marker {
        color: $warn;
    }
    .mat-form-field-flex {
        background-color: #121212;
    }
   
}

.fields ::ng-deep .mat-form-field.mat-focused {

    .mat-form-field-label {
        color: #BEBEBE;
    }
    .mat-form-field-ripple {
        background-color: $accent;
    }
    .mat-input-element {
        color: #fff;
        caret-color: #fff;
    }
}

.fields textarea::placeholder {
    color: #BEBEBE !important;
}

.lock {
    color: #BEBEBE !important;
}

@media screen and (max-width: 600px) {
    .center-container{
        top: 6em;
    }
}

.char-count {
    display: flex;
}

.red-count {
    color:red;
    opacity:.6;
  }
.white-count {
    color:#fff !important;
    opacity:.8;
}
  
.file-upload {
    display: flex;
}