@import "../../../theme.scss";
button {
    margin: 0px 5px;
}
.husq-card {
    margin-bottom: 2em;
    background-color: #121212;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.subtitle {
    color: #fff;
}