<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ name }} says...</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ datetime }}</h6>
    <!-- August 2, 2020 @ 3:31pm -->
    <p class="card-text">{{ content }}</p>
    <div class="input-group mb-3"> <input type="text" class="form-control" placeholder="Husq your reply"
        aria-label="Reply to Rex Burkhead" aria-describedby="reply-1">
      <div class="input-group-append"> <button class="btn btn-outline-secondary" type="button"
          id="reply-1">Reply</button> </div>
    </div>
  </div>
</div>
