@import "../../../theme.scss";
button {
    margin: 0px 5px;
}
.husq-card {
    margin-bottom: 2em;
    background-color: #121212;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

i{
    color: $warn;
}

i:hover{
    color: $accent;
}

.husq-button{
    margin-left: .5em;
    margin-right: .5em;
    cursor: pointer;
}

.count{
    margin-left: .25em;
    margin-right: 1.5em;
}



.subtitle {
    color: #fff;
}

