<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ name }} says...</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ datetime }}</h6>
    <p class="card-text">{{ content }}</p>
    <div class=""> <input type="text" class="form-control" placeholder="Husq your reply"
        aria-label="Reply to Rex Burkhead" aria-describedby="reply-1">
      <div class="input-group-append"> <button class="btn btn-outline-secondary" type="button"
          id="reply-1">Reply</button> </div>
    </div>
  </div>
</div> -->

  <mat-card color="accent" class="husq-card" *ngFor="let post of posts$ | async">
    <mat-card-header style="margin-top:.5em;">
      <img mat-card-avatar [src]="post.avatar"/>
      <mat-card-title><a routerLink="profile/{{ post.username }}">{{ post.displayName }}</a></mat-card-title>
      <mat-card-subtitle><a routerLink="profile/{{ post.username }}">{{ post.username }}</a></mat-card-subtitle>
      <mat-card-subtitle class="subtitle">{{ post.datetime }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ post.post }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn">REPLY</button>
      <button mat-raised-button color="warn">LIKE</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>