<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Husqr | A Corny Social Media Site!</title>
  <meta name="description" content="The world's corniest social media site!">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <section class="container">
    <!-- Timeline -->
    <div class="row">
      <div class="col-sm col-lg-6 offset-lg-3 ">
        <h1 class="text-center">Recent Husqs</h1>
        <!-- <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Rex Burkhead says...</h5>
            <h6 class="card-subtitle mb-2 text-muted">August 2, 2020 @ 3:31pm</h6>
            <p class="card-text">Wow, this site is pretty much the best thing I've ever seen!</p>
            <div class="input-group mb-3"> <input type="text" class="form-control" placeholder="Husq your reply"
                aria-label="Reply to Rex Burkhead" aria-describedby="reply-1">
              <div class="input-group-append"> <button class="btn btn-outline-secondary" type="button"
                  id="reply-1">Reply</button> </div>
            </div>
          </div>
        </div> -->


        <app-husq-card name="Rex Burkhead" datetime="TODAY" content="Wow, this site is pretty much the best thing I've ever seen!"></app-husq-card>
        <app-husq-card name="Matt Payne" datetime="TODAY" content="Hey now, this is actually pretty neat. I wonder how far we can take this."></app-husq-card>
        <app-husq-card name="Russ Beye" datetime="TODAY" content="I need to share this site with all of my friends. Wait till Matt sees this!"></app-husq-card>




        <!-- <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Matt Payne says...</h5>
            <h6 class="card-subtitle mb-2 text-muted">August 2, 2020 @ 11:19am</h6>
            <p class="card-text">Hey now, this is actually pretty neat. I wonder how far we can take this.</p>
            <div class="input-group mb-3"> <input type="text" class="form-control" placeholder="Husq your reply"
                aria-label="Reply to Matt Payne" aria-describedby="reply-2">
              <div class="input-group-append"> <button class="btn btn-outline-secondary" type="button"
                  id="reply-2">Reply</button> </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Russ Beye says...</h5>
            <h6 class="card-subtitle mb-2 text-muted">August 1, 2020 @ 8:47pm</h6>
            <p class="card-text">I need to share this site with all of my friends. Wait till Matt sees this!</p>
            <div class="input-group mb-3"> <input type="text" class="form-control" placeholder="Husq your reply"
                aria-label="Reply to Russ Beye" aria-describedby="reply-3">
              <div class="input-group-append"> <button class="btn btn-outline-secondary" type="button"
                  id="reply-3">Reply</button> </div>
            </div>
          </div>
        </div> -->
      </div>
    </div> <!-- End timeline -->
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://unpkg.com/bootstrap@4.5.2/dist/js/bootstrap.js"></script>
</body>

</html>
